* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

:root {
  --color-light-blue: rgb(173, 216, 230);
  --color-dark-yellow: rgb(218, 165, 32);
  --color-deep-blue: rgb(0, 0, 139);
  --color-deep-pink: rgb(238, 130, 238);
  --color-blue: rgb(30, 144, 255);
  --color-pink: rgb(255, 192, 203);
  --color-grey: rgb(211, 211, 211);
  --color-green: rgb(34, 139, 34);
  --color-coral: rgb(240, 128, 128);
  --color-green-whater: rgb(32, 178, 170);
  --color-tiffany: rgb(127, 255, 212);
  --color-cold-pink: rgb(255, 182, 193);
  --color-black: rgb(35, 39, 42);
}

header {
  background-color: var(--color-light-blue);
}

.container {
  max-width: 960px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.d-flex {
  display: flex;
}

.border {
  border: 1px dashed black;
}

a {
  text-decoration: none;
  color: var(--color-black);
  /*dovevamo dare inline-block cosi poteva prendere padding top bottom e laterali cosi la superfice cliccabile diventa maggiore e non solo il testo. */
}

ul li {
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
}

.logo,
.call-to-action-btn {
  width: 20%;
  padding: 10px;
}

.call-to-action-btn {
  text-align: right;
}

.nav-bar {
  justify-content: space-between;
  background-color: var(--color-dark-yellow);
}

.links {
  width: 100%;
  padding: 10px;
}

.links ul {
  justify-content: center;
}

.section {
  padding: 30px 0;
}

.jumbotron-section {
  background-color: var(--color-deep-blue);
}

.jumbotron-content {
  background-color: var(--color-deep-pink);
  height: 300px;
  width: 80%;
  margin: 0 auto;
}

.small-col {
  background-color: var(--color-pink);
  flex-grow: 1;
}

.large-col {
  background-color: var(--color-blue);
  flex-grow: 2;
  height: 400px;
}

.bg-grey {
  background-color: var(--color-grey);
}

.row-reverse {
  flex-direction: row-reverse;
}

.cta-content {
  background-color: var(--color-green);
  height: 800px;
}

footer {
  background-color: var(--color-black);
}

.footer-content {
  padding-bottom: 20px;
}

.footer-small-col {
  background-color: var(--color-coral);
  flex-grow: 1;
}

.footer-large-col {
  background-color: var(--color-green-whater);
  flex-grow: 2;
  height: 600px;
}

.white-border {
  border: 1px dashed white;
}

.cols {
  width: 25%;
}

hr {
  border-top: 1px solid var(--color-grey);
  margin-bottom: 15px;
}

.after-footer {
  background-color: var(--color-tiffany);
  justify-content: space-between;
  padding: 15px 0;
}

.logo-btn,
.cta-btn {
  background-color: var(--color-cold-pink);
  padding: 5px;
}
